@page "{id?}/{handler?}"
@using www.Pages.Account.Extensions
@model www.Pages.Account.ProfileModel
@{
    ViewData["Title"] = "Профиль";
}

<h1>@ViewData["Title"]</h1>
<div class="form">
    <div class="form-item">
        <label class="form-item-label" asp-for="Name"></label>
        <div class="form-item-field">@Model.Name</div>
    </div>
    <div class="form-item">
        <label class="form-item-label" asp-for="Surname"></label>
        <div class="form-item-field">@Model.Surname</div>
    </div>
    <div class="form-item">
        <label class="form-item-label" asp-for="Age"></label>
        <div class="form-item-field">@Model.Age</div>
    </div>
    <div class="form-item">
        <label class="form-item-label" asp-for="Gender"></label>
        <div class="form-item-field">@Model.Gender.Display()</div>
    </div>
    <div class="form-item">
        <label class="form-item-label" asp-for="Interest"></label>
        <div class="form-item-field">@Model.Interest</div>
    </div>
    <div class="form-item">
        <label class="form-item-label" asp-for="City"></label>
        <div class="form-item-field">@Model.City</div>
    </div>
    <br/>
    <div id="isFriend" style="@(!Model.IsFriend ? "display: none;" : "")">Ваш друг</div>
    @if (Model.CanAddToFriends)
    {
        <button id="makeFriend" class="btn btn-primary">Добавить в друзья</button>
        <div id="makeFriendError"></div>
    }
</div>

@if (Model.CanAddToFriends)
{
    @section scripts{
    <script>
            $(function () {
                $('#makeFriend').on('click', function () {
                    $.getJSON('/account/profile/@Model.Id/AddToFriends')
                        .done(function (result) {
                            if (result.success) {
                                $('#makeFriend').hide();
                                $('#isFriend').show();
                            } else {
                                $('#makeFriendError').text(result.error);
                            }
                        })
                        .fail(function () {
                            $('#makeFriendError').text('Не удалось добавить @Model.Name @Model.Surname в друзья');
                        });
                });
            });
    </script>
    }
}
